.PomodoroClock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #10ac84;
  padding: 30px 20px;
  border-radius: 0px;
  width: 520px;
  color: #fff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.PomodoroClock .duration-controls {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.PomodoroClock .duration-controls .label {
  font-size: 32px;
  padding-bottom: 20px;
  color: #444;
}

.PomodoroClock .duration-controls .duration {
  font-size: 22px;
  font-weight: bold;
  width: 46px;
  display: inline-block;
  color: #444;
}

.PomodoroClock .timer-wrapper {
  text-align: center;
  font-size: 32px;
  display: inline-block;
  margin: 30px;
  padding: 15px;
  color: #444;
  border: 2px solid #ddd;
  border-radius: 40px;
  width: 170px;
}

.PomodoroClock button {
  font-size: 32px;
  background-color: transparent;
  color: #ddd;
  border: none;
  outline: none;
  cursor: pointer;
}

.PomodoroClock button:hover {
  color: #fff;
  opacity: 1;
}

.PomodoroClock button svg {
  margin-bottom: -7px;
}

.PomodoroClock .timer-controls {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 180px;
  margin: 0 auto;
}
